body{
    animation: Gradient 10s ease infinite ;
    background: linear-gradient(-45deg, #0113FA, #4b57fd, #8089fd, #acacfd, #ceceff)no-repeat;
    background-size: 300% 300%;
    font-family:sans-serif ;
    display: flex;
    
    
    color: white;
    height: 100vh;
 }
 .container{
    max-width: 840px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .container{width: min(100% - 15,840px);
    margin-inline: auto
    ;
  }